{{#link-to 'house-committees'}}<span class='btn btn-primary'>House Committees</span>{{/link-to}}

{{#link-to 'state-committees'}}<span class='btn btn-primary'>Oregon State Committees</span>{{/link-to}}

{{outlet}}
